/* UTILITIES */

.primary-btn {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

/* SITE STYLES */

/* ***** HERO SECTION ***** */
.main-hero-section {
  background-image: linear-gradient(
    180deg,
    var(--first-color) 25%,
    transparent
  );
}
.main-hero-section .container {
  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1.5rem; */
  margin-bottom: 4rem;
}

.main-hero-section .main-hero-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hero-section .main-hero-img img {
  object-fit: cover;
  object-position: center center;
}

.main-hero-section .main-hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.main-hero-section .main-hero-content p {
  color: var(--first-alpha-color);
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 1px;
}

.main-hero-section .main-hero-content p span {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--second-color);
}

.main-hero-section .main-hero-content .main-hero-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

/* ***** PRODUCTS SECTION ***** */
.home-products-section {
  width: 100vw;
  height: max-content;
  display: grid;
  place-content: center;
  gap: 1rem;
}
.home-products-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  color: var(--gray-dark-color);
}

.home-products-content h2,
.home-reviews-section div h2 {
  font-size: 2rem;
  color: var(--first-color);
}

/* ***** REVIEWS SECTION ***** */
.home-reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-reviews-section .reviews {
  width: 100vw;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;
}

.home-reviews-section .review {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.home-reviews-section .review .review-img img {
  border-radius: 50%;
  width: 4rem;
}

.home-reviews-section .review .review-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-reviews-section .review .review-content h2 {
  color: var(--first-alpha-color);
}
.home-reviews-section .review .review-content p {
  color: var(--gray-dark-color);
  font-size: 0.75rem;
}

/* ***** ADITIONAL INFORMATION ***** */

/* MEDIA QUERIES*/

@media (min-width: 320px) {
}

@media (min-width: 375px) {
  .main-hero-section .main-hero-content .main-hero-btn-container {
    flex-direction: row;
    gap: 2rem;
  }
}

@media (min-width: 414px) {
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .main-hero-section {
    margin-top: 0;
  }

  .main-hero-section .container {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 0;
  }

  .main-hero-section .main-hero-content {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    gap: 4rem;
  }
  .main-hero-section .main-hero-content h1 {
    font-size: 3rem;
  }

  .main-hero-section .main-hero-content .main-hero-btn-container a {
    width: max-content;
    font-size: 1rem;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .main-hero-section .main-hero-img img {
    width: 130%;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1600px) {
  .main-hero-section .container {
    height: 50vh;
  }
}
