body::-webkit-scrollbar {
  display: none;
}

.detail-card {
  height: calc(100vh - 4rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.detail-card .back {
  position: absolute;
  top: 5rem;
  left: 0.5rem;
  width: 2rem;
  height: 2rem;
  color: var(--second-color);
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.detail-card .back svg {
  width: 2rem;
  height: 2rem;
}

.detail-card .detail-card-img {
  display: grid;
  place-content: center;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  margin: 1rem auto;
  mix-blend-mode: multiply;
}

.detail-card .detail-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail-card .detail-card-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  padding-top: 1.5rem;
  border-radius: 30px 30px 0 0;
  background-color: var(--white-color);
  color: var(--gray-dark-color);
}

.detail-card .detail-card-content h2 {
  text-align: center;
  font-size: 1rem;
}
.detail-card .detail-card-content p {
  font-size: 0.7rem;
}

.detail-card .detail-card-content span {
  color: var(--price-color);
  font-size: 2rem;
  font-weight: 900;
}

.detail-card .detail-card-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

.detail-card-actions button {
  order: 1;
}

.detail-card-actions div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.7rem 1rem;
}

.primary-btn,
.call-to-action {
  max-width: 100%;
}

.detail-card-actions div select {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white-color);
  padding: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.detail-card-actions div:hover > select {
  cursor: pointer;
  color: var(--second-color);
}

@media (min-width: 320px) {
}

@media (min-width: 375px) {
  .detail-card .detail-card-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 30px 30px 0 0;
    background-color: var(--white-color);
    color: var(--gray-dark-color);
  }

  .detail-card .detail-card-content h2 {
    text-align: start;
    font-size: 1.8rem;
  }

  .detail-card .detail-card-content p {
    font-size: 1rem;
  }
  .detail-card .detail-card-content span {
    color: var(--price-color);
    font-size: calc(4vw + 1.5rem);
    font-weight: 900;
  }

  .detail-card .detail-card-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .call-to-action {
    max-width: max-content;
  }

  .detail-card-actions button.call-to-action {
    min-width: 50%;
  }
}

@media (min-width: 414px) {
}

@media (min-width: 480px) {
  .detail-card .detail-card-actions {
    justify-content: space-between;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .detail-header {
    height: calc(100vh - 4rem);
    display: grid;
    place-content: center;
    order: 1;
  }

  .detail-card .detail-header .detail-card-img {
    max-width: 40vw;
  }

  .detail-body {
    height: calc(100vh - 4rem);
    order: -1;
  }

  .detail-body .detail-card-content-container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .detail-body .detail-card-content-container h2 {
    text-align: center;
  }

  .detail-card .detail-card-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .detail-card-actions button {
    order: 1;
  }

  .primary-btn,
  .call-to-action {
    max-width: 100%;
  }

  .detail-card .detail-card-actions {
    justify-content: space-between;
  }
  .detail {
    display: grid;
    grid-template-columns: 375px 1fr;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .detail-card {
    margin-top: 0;
  }

  .detail-card .detail-header .detail-card-img {
    max-width: 35vw;
  }
}
